.modal {
  position: fixed;
  right: 0;
  border: 2px solid var(--color-secondary); 
  height: 20rem;
  overflow: auto;
}

.modal .list-stacked {
  border: 0;
  margin-bottom: 0;
}

.modal-content {
  margin-top: 2ch;
}

.modal .list-heading{
  margin-left: 1ch;
}
.modal-sub {
  margin-bottom: 2ch;
  border-bottom: 1px solid var(--color-secondary);
}

.modal-sub .modal-content {
  padding: 0 5ch;
  margin: 0;
}

.modal .icon {
  margin-right: 2ch;
}