

footer {
  position: relative;
  bottom: 0;
  margin: 5vh 0;
  font-size: 0.5em;
}

h1,
h2 {
  line-height: 1.2em;
  text-transform: capitalize;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 1.77em;
}

p {
  font-weight: 300;
  font-size: 1.33em;
  line-height: 2em;
}

iframe {
  /* border: 0; */
  /* border-top: 1px solid;
  border-left: 1px solid; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 0px 15px #745e6f inset; */
  /* padding: 4ch; */
  height: clamp(300px, 400px, 500px);
  width: 150%
}

button {
  background-color: none;
  border: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  margin: 3ch;
}

input {
  margin: 0;
  padding: 0;
  width: clamp(10rem, 15rem, 20rem);
}

::selection {
  background-color: var(--color-text);
  color: var(--color-background);
}