.avatar,
.avatar-status {
  aspect-ratio: 1/1;
  position: relative;
  margin: 0;
  padding: 0;
}

.avatar-status {
  border: 3px solid;
}

.avatar-xs {
  width: 2rem;
  height: 2rem;
}

.avatar-sm {
  width: 4rem;
  height: 4rem;
}

.avatar-lg {
  width: 8rem;
  height: 8rem;
}

.avatar-md {
  width: 6rem;
  height: 6rem;
}